<%= simple_nested_form_for [:account, vessel], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class:'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.input :reference_number %>
  <%= f.simple_fields_for :vessel_maintenances do |ff| %>
    <div class="well">
      <%= ff.input :date_of_maintenance, as: :string, input_html: { type: "date" } %>
      <%= ff.input :status, as: :select, collection: VesselMaintenance::MAINTENANCE_STATUSES %>
      <%= ff.input :person_in_charge %>
      <%= ff.input :service_company %>
      <%= ff.input :cost %>
      <%= ff.association :maintenance_type %>
      <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
  <%= f.link_to_add "Add Vessel Maintenance", :vessel_maintenances, class: "btn btn-info" %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
