<div class="row">
  <div class="col-md-4">
    <%= f.input :name %>
  </div>
  <div class="col-md-4">
    <%= f.input :code %>
  </div>
  <div class="col-md-4">
    <%= f.input :reference_number %>
  </div>
</div>
<hr>
<h3>Driver Details</h3>
<div class="well">
  <div class="row">
    <div class="col-md-6">
      <%= f.input :driver_first_name, label: "First Name"%>
    </div>
    <div class="col-md-6">
      <%= f.input :driver_last_name, label: "Last Name" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :driver_contact_number %>
    </div>
    <div class="col-md-6">
      <%= f.input :driver_address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag f.object.designated_driver_image.url(:standard) %>
      <%= f.input :designated_driver_image, as: :file %>
    </div>
  </div>
</div>
