<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td><%= service_company.name %></td>
  </tr>
  <tr>
    <th>Contact Person</th>
    <td><%= service_company.contact_person %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= service_company.address %></td>
  </tr>
  <tr>
    <th>Contact Number</th>
    <td><%= service_company.contact_number %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= service_company.email %></td>
  </tr>
</table>
