<div class="simpleBox">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <td><%= vessel.name %></td>
        </tr>
        <tr>
          <th>Code</th>
          <td><%= vessel.code %></td>
        </tr>
        <tr>
          <th>Reference Number</th>
          <td><%= vessel.reference_number %></td>
        </tr>
        <tr>
          <th>Access Token</th>
          <td><%= vessel.access_token %></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- mini vessel dashboard -->
  <h3>Maintenance Statistics <small>Aggregated cost of maintenance</small></h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="small-box on-going">
        <div class="inner">
          <h3><%= vessel.ongoing_count %></h3>
          <p>On-going</p>
          <div class="cost">
            Cost: <%= number_to_currency(vessel.ongoing_cost, unit: "P") %>
          </div>
        </div>
        <div class="icon">
          <span class="glyphicon glyphicon-repeat"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="small-box pending">
        <div class="inner">
          <h3><%= vessel.pending_count %></h3>
          <p>Pending</p>
          <div class="cost">
            Cost: <%= number_to_currency(vessel.pending_cost, unit: "P") %>
          </div>
        </div>
        <div class="icon">
          <span class="glyphicon glyphicon-minus"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="small-box done">
        <div class="inner">
          <h3><%= vessel.done_count %></h3>
          <p>Done</p>
          <div class="cost">
            Cost: <%= number_to_currency(vessel.done_cost, unit: "P") %>
          </div>
        </div>
        <div class="icon">
          <span class="glyphicon glyphicon-star"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="small-box delayed">
        <div class="inner">
          <h3><%= vessel.delayed_count %></h3>
          <p>Delayed</p>
          <div class="cost">
            Cost: <%= number_to_currency(vessel.delayed_cost, unit: "P") %>
          </div>
        </div>
        <div class="icon">
          <span class="glyphicon glyphicon-refresh"></span>
        </div>
      </div>
    </div>
  </div>
</div>
