<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Reference Number</th>
    <th>Access Token</th>
    <th>Actions</th>
  </tr>
  <% vessels.each do |vessel| %>
    <tr>
      <td><%= vessel.name %></td>
      <td><%= vessel.code %></td>
      <td><%= vessel.reference_number %></td>
      <td><%= vessel.access_token %></td>
      <td>
        <%= link_to "Show", vessel_path(vessel), class: "btn btn-xs btn-primary" %>
        <%= link_to "Edit", edit_vessel_path(vessel), class: "btn btn-xs btn-info" %>
      </td>
    </tr>
  <% end %>
</table>
