<div class="container" id="vessels">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @vessel %> <small><%= @vessel.code %></small></h1>
    </div>
    <div class="col-md-8">
      <%= render partial: "vessels/show_actions", locals: { vessel: @vessel } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "vessels/vertical_nav", locals: { vessel: @vessel } %>
    </div>
    <div class="col-md-9 content">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "vessels/details", locals: { vessel: @vessel } %>
        </div>
      </div>
    </div>
  </div>
</div>
