<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @vessel %> <small><%= @vessel.code %></small></h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "users/vessels/details", locals: { vessel: @vessel } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "users/vessels/show_actions", locals: { vessel: @vessel } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
        <%= render partial: "users/vessels/tracking_map", locals: { vessels: [@vessel] } %>
    </div>
  </div>
</div>
